<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Bienvenido(a) {{ user }}</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side" class="backgroundSide">
    <mat-nav-list *ngFor="let nav of navItems">
      <a
        mat-list-item
        style="color: white"
        routerLink="{{ nav.route }}"
        class="p-4"
        ><mat-icon class="mr-4">{{ nav.iconName }}</mat-icon> {{ nav.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
