<div class="container fondo">
  <h1 class="text-center colorLetter">Listado de Productos</h1>
  <app-tables
    (valueResponse)="processActions($event)"
    (valuePagination)="pageChangeEvent($event)"
    [displayedColumns]="columsProps"
    [dataSource]="dataSource"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="length"
    [loading]="loading"
    [actions]="actionProps"></app-tables>

  <button type="button" (click)="aditionProduct()" class="btn btn-primary m-4">
    Adicionar Productos
  </button>
</div>
